@model Factory.Models.Machine;

<h3>Assign an engineer to this machine: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.Label("Select an engineer")
  @Html.DropDownList("EngineerId")
  <input class="myCssClass" type="submit" value="Save" />
} 
@Html.ActionLink("Back to List", "Index", null, null , new {@class="myCssClass"})
