@model Factory.Models.Engineer

<h2>Engineer's Details</h2>
<hr />
<h4>Engineer's @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>


@if(@Model.JoinEntities.Count == 0)
{
  <p>This enginner is not assinged to any machine</p>
}
else
{
  <h6>Machines this engeener assinged to:</h6>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
    @using(Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.MachineEngineerId)
      <input class="myCssClass" type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", null, new { id = Model.EngineerId }, new {@class="myCssClass"})</p>
<p>@Html.ActionLink("Back to Engineers", "Index", null, null, new {@class="myCssClass"})</p>
<p>@Html.ActionLink("Edit Enginner", "Edit", new { id = Model.EngineerId }, new {@class="myCssClass"}) (TODO)</p> 
<p>@Html.ActionLink("Delete Engineer", "Delete", null, new { id = Model.EngineerId }, new {@class="myCssClass"}) (TODO)</p>